* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0d0d0d;
  color: white;
}

section {
  padding: 80px 20px;
  max-width: 1100px;
  margin: auto;
}
